.HelveticaNeueLTPro-Bd { 
    font-family: HelveticaNeueLTPro-Bd;
    font-weight: normal;
    font-style: normal;
}
.HelveticaNeueLTPro-Md { 
    font-family: HelveticaNeueLTPro-Md;
    font-weight: normal;
    font-style: normal;
}
.HelveticaNeueLTPro-Roman { 
    font-family: HelveticaNeueLTPro-Roman;
    font-weight: normal;
    font-style: normal;
}